body{
    width: 100%;
    background: grey;
    text-align: center;
    margin: auto;
}
.main-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    font-size: 20px;
    font-weight: 500;
}
.enter-url{
    margin: 5px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 5px;
}
.sub {
    height: 30px;
    margin: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.bottom-content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    font-size: 20px;
    font-weight: 500;
}
.res{
    width: 80px;
    height: 35px;
    margin: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 500;
    display: block;
}

.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	background-color: #FA9595;
	z-index:1;
	/*position: absolute;
	right: 35px;
	top: 0;
	bottom: 0;*/
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}
.search-box {
	width: 80%;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}